<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
       <add key="weatherURL" value="https://www.theweathernetwork.com/en/city/ca/ontario/sturgeon-falls/hourly" />
       <add key="emailSubjectPrefix" value="Sturgeon" />
       <add key="recipientEmail" value="[To email here]" />
       <add key="showLists" value="true" />
       <add key="sendEmail" value="true" />
       <add key="sendSMS" value="true" />
       <add key="smtpHost" value="[Your email server host here]" />
       <add key="smtpPort" value="[Your email server host port here]" />
       <add key="senderEmail" value="[From email user here]" />
       <add key="senderEmailCred" value="[From email password here]" />
       <add key="awsID" value="[Your AWS ID]" />
       <add key="awsSec" value="[Your AWS secret key]" />
       <add key="awsTopic" value="[Your AWS SNS topic]" />
   </appSettings>
</configuration>